## Cars Purchase Prediction

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\admin\Desktop\Imarticus\car_data.csv")
df.head()

   User ID Gender  Age  AnnualSalary  Purchased
0      385   Male   35         20000          0
1      681   Male   40         43500          0
2      353   Male   49         74000          0
3      895   Male   40        107500          1
4      661   Male   25         79000          0

In [3]:
df.shape

(1000, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User ID       1000 non-null   int64
 1   Gender        1000 non-null   object
 2   Age           1000 non-null   int64
 3   AnnualSalary  1000 non-null   int64
 4   Purchased     1000 non-null   int64
dtypes: int64(4), object(1)
memory usage: 39.2+ KB

In [5]:
df.columns

Index(['User ID', 'Gender', 'Age', 'AnnualSalary', 'Purchased'], dtype='object')

In [6]:
df.duplicated().sum()

0

In [7]:
df['Purchased'].value_counts()

0    598
1    402
Name: Purchased, dtype: int64

In [8]:
df= pd.get_dummies(df,columns=['Gender'],drop_first = True)

In [9]:
x=df.drop(columns=['Purchased'])
y=df['Purchased']

In [10]:
from sklearn.preprocessing import StandardScaler
s = StandardScaler()
x =s.fit_transform(x)

In [11]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(x,y,test_size=0.20,random_state=1)

In [12]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import cross_val_score
model = AdaBoostClassifier()
np.mean(cross_val_score(model,xtrain,ytrain,scoring='accuracy',cv=10))

0.8649999999999999

In [13]:
from sklearn.model_selection import GridSearchCV
grid = dict()
grid['n_estimators'] = [10, 50, 100, 500]
grid['learning_rate'] = [0.0001, 0.001, 0.01, 0.1, 1.0]
grid_search = GridSearchCV(estimator=AdaBoostClassifier(), param_grid=grid, n_jobs=-1, cv=10, scoring='accuracy')
grid_result = grid_search.fit(xtrain, ytrain)
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

Best: 0.886250 using {'learning_rate': 0.1, 'n_estimators': 100}

In [14]:
model = AdaBoostClassifier(learning_rate=0.1,n_estimators=100)
model.fit(xtrain, ytrain)

AdaBoostClassifier(learning_rate=0.1, n_estimators=100)

In [15]:
y_pred =model.predict(xtest)

In [16]:
from sklearn.metrics import accuracy_score,classification_report
print("Acuuracy = ",accuracy_score(ytest,y_pred)*100,"%")

Acuuracy =  90.0 %

In [17]:
print(classification_report(ytest,y_pred))

              precision    recall  f1-score   support

           0       0.90      0.94      0.92       125
           1       0.90      0.83      0.86        75

    accuracy                           0.90       200
   macro avg       0.90      0.89      0.89       200
weighted avg       0.90      0.90      0.90       200