In [10]:
import pandas as pd
import numpy as np
City = ["New York", "New Jersey", "Michigan", "California", "Florida", "Massachusetts", "Texas"]
No_of_deaths_in_last_month = [3406, 1469, 662, 583, 582, 526, 461]
No_of_deaths_in_current_month = [4398, 1846, 1288, 382, 879, 430, 321]
df = pd.DataFrame({"City": City, "No_of_deaths_in_last_month":No_of_deaths_in_last_month, "No_of_deaths_in_current_month": No_of_deaths_in_current_month})
df

            City  No_of_deaths_in_last_month  No_of_deaths_in_current_month
0       New York                        3406                           4398
1     New Jersey                        1469                           1846
2       Michigan                         662                           1288
3     California                         583                            382
4        Florida                         582                            879
5  Massachusetts                         526                            430
6          Texas                         461                            321

In [8]:
prediction_value=[]
significance=[]
for i in No_of_deaths_in_last_month:
    prediction_value.append((0.30*i)+i)
    significance.append(0.1*i)
print("prediction",prediction_value)
print("actual current death value ",No_of_deaths_in_current_month)

prediction [4427.8, 1909.7, 860.6, 757.9, 756.6, 683.8, 599.3]
actual current death value  [4398, 1846, 1288, 382, 879, 430, 321]

In [13]:
predicted=np.array(prediction_value)
No_of_deaths_in_current_month=np.array(No_of_deaths_in_current_month)
difference=np.absolute(No_of_deaths_in_current_month - predicted)
print("difference between prediction and current",difference)
print("signicance of 0.1",significance)

difference between prediction and current [ 29.8  63.7 427.4 375.9 122.4 253.8 278.3]
signicance of 0.1 [340.6, 146.9, 66.2, 58.300000000000004, 58.2, 52.6, 46.1]